@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background-color: #000;
  color: #fff;

  transition:background-color 0.5s ease, color 0.5s ease;
}

body.dark {
  background-color: #fff;
  color: #000;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/*===========header and footer=============*/
.site-header {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 20px;
  position: relative;
}

.site-footer {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 14px;
  margin: 40px 55px 20px;
  text-align: center;
}


.body-container {
  max-width: 1200px;
  margin: 48px auto;
  padding: 40px;

  border-radius: 24px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

  transition: background 0.3s ease, box-shadow 0.3s ease;
}

body.dark .body-container {
  background: rgba(0, 255, 0, 0.293);
  border-color: rgba(0, 255, 0, 0.293);
}


@media (max-width: 768px) {
  .body-container {
    margin: 24px 16px;
    padding: 24px;
  }
}

.site-header,.site-footer,.body-container{
  transition: background 0.3s ease, box-shadow 0.3s ease;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}